-#= form_tag search_elections_path, :method => 'get', :id => 'search_form' do
-#  %p
-#    = text_field_tag :search, params[:search], :size => 40
-#    = submit_tag "Search", :name => nil

.people_search
  = form_tag search_votes_path, :method => :get, :id => 'search_form' do 
    %table{:align=>'left'}
      %tr
        %td
          = link_to image_tag("shome.png", :border=>0), "http://voteulhasnagar.com", :id => "shome_button"          
          = text_field_tag :search, params[:search], :size => 40, :placeholder => "Enter search term..."          
          = image_submit_tag("ssearch.png", :class => 'search_button')      
      - if session[:no_record].present?
        %tr
          %td{:align => "center"}
            = link_to image_tag("new.png", :border=>0), new_updated_vote_path , :id => "shome_button", :rel => 'facebox'
