= form_for UpdatedVote.new, :html => {:id => 'show_form'} do |f|
  - if @new_record
    = render "shared/error_messages", :target => @new_record
  %table{:border => 2, :align => "center", :bordercolor => "#FFFF00", :width => "700", :height => "200",:style=> "overflow:fixed;", :id => "search_table"}
    %tr
      %td{:style => "color:#FF0000"}
        First Name:(*)
      %td
        = text_field_tag "new_vote[name]", @record.name, :size => 20
    %tr
      %td{:style => "color:#FF0000"}
        Middle Name:(*)
      %td
        = text_field_tag "new_vote[middle_name]",@record.middle_name, :size => 20
    %tr
      %td{:style => "color:#FF0000"}
        Last Name:(*)
      %td
        =text_field_tag "new_vote[last_name]",@record.last_name, :size => 20
    %tr
      %td{:style => "color:#FF0000"}
        Sex:
      %td
        = text_field_tag "new_vote[sex]",@record.sex, :size => 1
    %tr
      %td{:style => "color:#FF0000"}
        Mailing Address:(*)
      %td
        = text_field_tag "new_vote[address_line_1]",'', :size => 65
        = text_field_tag "new_vote[address_line_2]",'', :size => 65
    %tr
      %td{:style => "color:#FF0000"}
        Email:
      %td
        = text_field_tag "new_vote[email]",'', :size => 20
    %tr
      %td{:style => "color:#FF0000"}
        City:
      %td
        = text_field_tag "new_vote[city]",'', :size => 20
    %tr
      %td{:style => "color:#FF0000"}
        Pin Code:
      %td
        = text_field_tag "new_vote[pin_code]",'', :size => 20
    %tr
      %td{:style => "color:#FF0000"}
        Date of Birth:
      %td
        = text_field "new_vote[date_of_birth]",'', :size => 20
    %tr
      %td{:style => "color:#FF0000"}
        Mobile Number:
      %td
        = text_field_tag "new_vote[mobile_num]",@record.mobile_num, :size => 20
    %tr
      %td{:style => "color:#FF0000"}
        Panel Number:
      %td
        = text_field_tag "new_vote[panel_no]",@record.panel_no, :size => 20

  = hidden_field_tag "old_record_id", @record.id
  = hidden_field_tag "search_keyword", @keyword
  = f.submit 'Update', :id => 'facebox_update'
