%html
  %head
    %title Election
    = stylesheet_link_tag "search.css", 'jquery-ui.css'
    = javascript_include_tag "jquery.js", "application", "jquery-ui.js"
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    = content_tag :h1, yield(:title) if show_title?
    %table
      %tr
        %td
          #left
            = image_tag("help.png")
        %td
          = yield
        %td
          #right
            = image_tag("main.png")

